<% if resource.errors.any? %>
  <div class="bg-red-100 border border-red-500 mb-4 p-4 text-red-700" role="alert">
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
